*{
    box-sizing: border-box ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
     text-align: center;
}
.subjects{
    float: left; 
    margin: 10px;
    border: 1px solid black;
    width: 31.6%; 
    padding: 8px;
}
span{
    position: absolute;
    top: 0px;
    right: 0px;
    border: 1px solid black;
    padding-left: 2px;
}
#Mathematics span{
    background-color:#E6E5A3 ;
}
#Biology span{
    background-color: #95D1CC;
}
#Psychology span{
    color: black;
    background-color: #FFFFDD;
}
#Mathematics {
    position: relative;
    background: #A9AF7E;
}
#Biology{
    position: relative;
    background-color: #F6F4EB;
}
#Psychology{
    position: relative;
    background-color: #016A70;
    color: #FFFFDD;
}  
@media(min-width:992px)
{
    .subjects{
               width: 31.6%;
    }
}

